<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Header of our Page</title>
</head>

<body>
    <nav>
        <div class="logo">
            <img src="../image/Logo.png" alt="AtypikHouse">
        </div>
        <div class="navLink">
            <button type="button" class="hamburger" aria-expanded="false" aria-label="Menu">
                <span> </span>
                <span></span>
                <span></span>
            </button>
            <div class="navLink_container">
                <a>Home</a>
                <a>Logement</a>
                <a>Activités</a>
                <a>Contact</a>
            </div>
        </div>
        <div class="user_account">
            <img src="../image/top.jpeg" alt="sign in page">
            <a href="#">Devenir hôte</a>
        </div>

    </nav>
    <main>
        <section class="errorMessage">
            <div class="message">
                <p>oupp!!! <br> quelque chose s'est mal passé</p>
            </div>
            <div class="codeError">
                <p>404!!</p>
            </div>
            
            <div class="return">
                <a href="#">return to they main page</a>
            </div>
        </section>
    </main>
   
    <script src="js/script.js"></script>

</body>

</html>